<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/plantilla :: head">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Cargar Saldo</title>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><h4>Cargar Saldo</h4></div>
                <div class="card-body">
                    <form th:action="@{/usuario/actualizar/saldo}"th:object="${usuario}"method="POST">
                        <div class="row form-group">
                            <label class="col-md-3">Usuario: </label>
                            <input type="text"class="form-control col-md-7"th:field="*{userName}"/>
                        </div>
                        <br>
                        <div class="row form-group">
                            <label class="col-md-3">Saldo a recargar: </label>
                            <input type="text"class="form-control col-md-7" th:field="*{saldo}"/>
                        </div>
                        <br>
                        <div class="row form-group hstack gap-2 justify-content-lg-center">
                            <input type="submit"class="btn btn-success btn-block col-md-4" value="Continuar"/>
                            <a th:href="@{/usuario}" class="btn btn-info btn-block col-md-4">Regresar</a>
                        </div>
                    </form >
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<footer th:fragment="footer" class = "d-flex align-content-center justify-content-center align-items-center bg-black pt-3 pb-3" >
    <p class="m-0 text-center text-white">Copyright © Tomas Zocchi 2022</p>
</footer>
</body>
</html>