<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:replace="Layout/plantilla :: head">
    <title>Deudas</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header th:replace="Layout/plantilla :: header"></header>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Lista de deudas</h4>
                    </div>
                    <div th:if="${deudas != null and !deudas.empty}">
                        <table class="table table-stryped">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Vendedor</th>
                                <th>Valor</th>
                                <th>Fecha de Emision</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="deuda, contador : ${deudas}">
                                <td>[[${contador.count}]]</td>
                                <td>[[${deuda.vendedor.userName}]]</td>
                                <td>[[${deuda.valor}]]</td>
                                <td><p th:text="${#temporals.format(deuda.emision, 'dd/MM/yyyy')}"></p></td>
                                <td>[[${deuda.descripcion}]]</td>
                                <td>[[${deuda.precio}]]</td>
                                <td>
                                    <a th:method="POST" th:href="@{/deuda/comprar/} + ${deuda.id}" class="btn btn-dark">
                                        <i class="fas fa-angle-double-right"></i> Comprar
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${deudas == null or deudas.empty}">
                        <span>Lista vacía</span>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <a th:href="@{/deuda/crear}" class="btn btn-success btn-block col-md-4 justify-content-center" value="Publica tu deuda"/>Publica tu deuda!!</a>
    </div>
    <br><br>
    <footer th:fragment="footer" class = "d-flex align-content-center justify-content-center align-items-center bg-black pt-3 pb-3" >
        <p class="m-0 text-center text-white">Copyright © Tomas Zocchi 2022</p>
    </footer>
</body>
</html>